In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
np.random.seed(19680801)

In [3]:
hd = pd.read_excel('C:/Users/DELL/HOUSEDAT.xlsx')
hd.head()

,PRICE,SQFT,BEDROOMS,BATHS,AGE,OCCUPANCY,POOL,STYLE,FIREPLACE,WATERFRONT,DOM
0,66500,741,1,1,18,1,1,1,1,0,6
1,66000,741,1,1,18,2,1,1,0,0,23
2,68500,790,1,1,18,1,0,1,1,0,8
3,102000,2783,2,2,18,1,0,1,1,0,50
4,54000,1165,2,1,35,2,0,1,0,0,190

In [4]:
hd.corr()

,PRICE,SQFT,BEDROOMS,BATHS,AGE,OCCUPANCY,POOL,STYLE,FIREPLACE,WATERFRONT,DOM
PRICE,1.000000,0.760689,0.455189,0.645341,-0.208609,-0.206716,0.202269,0.149208,0.310626,0.309940,0.078929
SQFT,0.760689,1.000000,0.684591,0.716111,-0.138031,-0.308667,0.256155,0.126682,0.374238,0.214929,0.104335
BEDROOMS,0.455189,0.684591,1.000000,0.578808,-0.168075,-0.225346,0.137703,0.037503,0.210015,0.085691,0.089487
BATHS,0.645341,0.716111,0.578808,1.000000,-0.293107,-0.284255,0.202991,0.108446,0.364095,0.222732,0.074509
AGE,-0.208609,-0.138031,-0.168075,-0.293107,1.000000,-0.011167,0.009081,-0.016037,-0.209634,-0.165418,-0.064640
OCCUPANCY,-0.206716,-0.308667,-0.225346,-0.284255,-0.011167,1.000000,-0.095383,-0.100704,-0.327940,-0.048484,0.070802
POOL,0.202269,0.256155,0.137703,0.202991,0.009081,-0.095383,1.000000,0.026452,0.107466,0.089701,-0.027832
STYLE,0.149208,0.126682,0.037503,0.108446,-0.016037,-0.100704,0.026452,1.000000,0.170782,0.151026,0.017137
FIREPLACE,0.310626,0.374238,0.210015,0.364095,-0.209634,-0.327940,0.107466,0.170782,1.000000,0.123235,0.062615
WATERFRONT,0.309940,0.214929,0.085691,0.222732,-0.165418,-0.048484,0.089701,0.151026,0.123235,1.000000,0.119755
DOM,0.078929,0.104335,0.089487,0.074509,-0.064640,0.070802,-0.027832,0.017137,0.062615,0.119755,1.000000

In [3]:
import statsmodels.api as sm

In [41]:
y = hd['PRICE']
x = hd[['SQFT', 'BEDROOMS', 'BATHS']]

In [42]:
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.613
Model:                            OLS   Adj. R-squared:                  0.612
Method:                 Least Squares   F-statistic:                     568.3
Date:                Thu, 30 May 2024   Prob (F-statistic):          2.87e-221
Time:                        11:17:23   Log-Likelihood:                -13676.
No. Observations:                1080   AIC:                         2.736e+04
Df Residuals:                    1076   BIC:                         2.738e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -4.841e+04   1.16e+04     -4.181      0.000   -7.11e+04   -2.57e+04
SQFT          85.7197      3.763     22.778      0.000      78.336      93.104
BEDROOMS    -2.82e+04   4576.714     -6.161      0.000   -3.72e+04   -1.92e+04
BATHS       4.741e+04   5540.415      8.557      0.000    3.65e+04    5.83e+04
==============================================================================
Omnibus:                     1206.342   Durbin-Watson:                   1.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           149785.089
Skew:                           5.281   Prob(JB):                         0.00
Kurtosis:                      59.718   Cond. No.                     1.33e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [21]:
x = hd[['SQFT', 'BEDROOMS', 'BATHS','POOL', 'FIREPLACE', 'WATERFRONT']]

In [22]:
x = sm.add_constant(x)

In [23]:
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.629
Model:                            OLS   Adj. R-squared:                  0.627
Method:                 Least Squares   F-statistic:                     302.7
Date:                Thu, 30 May 2024   Prob (F-statistic):          8.82e-227
Time:                        10:27:01   Log-Likelihood:                -13654.
No. Observations:                1080   AIC:                         2.732e+04
Df Residuals:                    1073   BIC:                         2.736e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -4.725e+04   1.14e+04     -4.149      0.000   -6.96e+04   -2.49e+04
SQFT          83.2141      3.843     21.651      0.000      75.672      90.756
BEDROOMS   -2.526e+04   4542.389     -5.561      0.000   -3.42e+04   -1.63e+04
BATHS       4.351e+04   5548.041      7.842      0.000    3.26e+04    5.44e+04
POOL       -3250.6938   8756.397     -0.371      0.711   -2.04e+04    1.39e+04
FIREPLACE  -2031.3764   5049.471     -0.402      0.688   -1.19e+04    7876.582
WATERFRONT  6.129e+04   9144.497      6.703      0.000    4.33e+04    7.92e+04
==============================================================================
Omnibus:                     1168.558   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           129911.967
Skew:                           5.029   Prob(JB):                         0.00
Kurtosis:                      55.780   Cond. No.                     1.33e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
data2  =hd.copy()
dummy_variables = pd.get_dummies(data2.OCCUPANCY,prefix = "OCC")

In [31]:
dummy_variables

      OCC_1.0  OCC_2.0  OCC_3.0
0           1        0        0
1           0        1        0
2           1        0        0
3           1        0        0
4           0        1        0
...       ...      ...      ...
1075        1        0        0
1076        0        1        0
1077        0        1        0
1078        1        0        0
1079        1        0        0

[1080 rows x 3 columns]

In [34]:
hd1=pd.concat([hd,dummy_variables],axis = 1)

In [35]:
hd1

,PRICE,SQFT,BEDROOMS,BATHS,AGE,OCCUPANCY,POOL,STYLE,FIREPLACE,WATERFRONT,DOM,OCC_1.0,OCC_2.0,OCC_3.0
0,66500.0,741.0,1.0,1.0,18.0,1.0,1.0,1.0,1.0,0.0,6.0,1,0,0
1,66000.0,741.0,1.0,1.0,18.0,2.0,1.0,1.0,0.0,0.0,23.0,0,1,0
2,68500.0,790.0,1.0,1.0,18.0,1.0,0.0,1.0,1.0,0.0,8.0,1,0,0
3,102000.0,2783.0,2.0,2.0,18.0,1.0,0.0,1.0,1.0,0.0,50.0,1,0,0
4,54000.0,1165.0,2.0,1.0,35.0,2.0,0.0,1.0,0.0,0.0,190.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,122570.0,2853.0,5.0,3.0,25.0,1.0,0.0,11.0,1.0,0.0,34.0,1,0,0
1076,185000.0,4599.0,5.0,3.0,13.0,2.0,1.0,11.0,1.0,0.0,293.0,0,1,0
1077,1280000.0,7086.0,5.0,3.0,13.0,2.0,1.0,11.0,1.0,1.0,4.0,0,1,0
1078,123808.0,3148.0,5.0,2.0,25.0,1.0,0.0,11.0,0.0,0.0,13.0,1,0,0
1079,374000.0,6203.0,7.0,4.0,25.0,1.0,1.0,11.0,1.0,0.0,28.0,1,0,0

In [39]:
y = hd1['PRICE']
x = hd1[['SQFT', 'BEDROOMS', 'BATHS','POOL', 'FIREPLACE', 'WATERFRONT', 'OCC_1.0', 'OCC_3.0']]

In [40]:
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.633
Model:                            OLS   Adj. R-squared:                  0.631
Method:                 Least Squares   F-statistic:                     231.3
Date:                Thu, 30 May 2024   Prob (F-statistic):          2.79e-227
Time:                        10:59:01   Log-Likelihood:                -13647.
No. Observations:                1080   AIC:                         2.731e+04
Df Residuals:                    1071   BIC:                         2.736e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6.066e+04    1.2e+04     -5.055      0.000   -8.42e+04   -3.71e+04
SQFT          83.0246      3.850     21.565      0.000      75.470      90.579
BEDROOMS   -2.295e+04   4568.971     -5.024      0.000   -3.19e+04    -1.4e+04
BATHS       4.533e+04   5539.471      8.182      0.000    3.45e+04    5.62e+04
POOL       -4750.0053   8728.864     -0.544      0.586   -2.19e+04    1.24e+04
FIREPLACE     21.2262   5165.442      0.004      0.997   -1.01e+04    1.02e+04
WATERFRONT  6.137e+04   9103.383      6.741      0.000    4.35e+04    7.92e+04
OCC_1.0     -442.0033   4940.813     -0.089      0.929   -1.01e+04    9252.768
OCC_3.0     3.922e+04   1.07e+04      3.650      0.000    1.81e+04    6.03e+04
==============================================================================
Omnibus:                     1166.312   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           130286.506
Skew:                           5.010   Prob(JB):                         0.00
Kurtosis:                      55.867   Cond. No.                     1.52e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.